footer {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    
   
  }

  
footer .twitter{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-right:8px ;
    padding-left:8px ;
    border-radius:50% ;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
footer .facebook{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:12px ;
    padding-right:12px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
footer .linkedin{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
footer .footer-icon a img{
    height: 13px;
    width: auto;
}


footer p{
    font-size: 12px;
    font-family: "Open Sans";
}
footer .footer-flex{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    footer{
        margin-bottom:0px ;
        position: relative !important;
        width: auto;
        
    }
    footer .footer-flex{
     
        justify-content: space-between !important;
    }
  }
