#gq,
#uq,
#dq{
    margin-bottom:60px ;
}
 
.title{
    font-family: "Open Sans";
    font-size: 34px;
    color: #6255a5;
    font-weight: 600;
    margin-bottom:30px ;
}

.card-header h2{
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    

}


.card{
    margin-bottom:15px ;
    border-bottom:1px solid #d1d1d1 !important;
}

.card-body{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.card-header h2 i{
    font-size: 14px;
    text-align: justify;
   color: #a6a6a6;
   
}
@media only screen and (max-width: 700px) {
    .user-heading{
        margin-top: 100px;
    }
    .title{
        font-size: 24px !important;
    }
  }
