.img-container{
    background: url("imges/banner-with-overlay-user.jpg") no-repeat;
    background-size: auto;
    height: auto;
    background-position: center;
    width: auto;
    position: relative;
}



.nav-link{
    margin: 10px;
    color:black !important;
    line-height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;

}

.navbar-brand{
     margin-left: 150px; 
     line-height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;

}
.navbar-nav{
    margin-right:150px ;
}

nav{
    background: #ffffff !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}

.nav-login{
    border: solid 1px white;
    background: #6255a5;
    color: #ffffff !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
    width: 89px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 5px;
}

.nav-link img{
    height: 40px;
}

.nav-link-img{
    margin: 4px !important;
}

.user-heading{
    margin-top: 200px;
    margin-bottom:100px ;
}
.user-heading h3{
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    font-family: "Open Sans";

}
.dropdown-toggle::after { 
    content: none; 
} 

button:focus{ 
    box-shadow: none !important;
}
.active-link{
    color: #6255a5 !important;
    border-bottom:3px solid #6255a5 ;
}
@media only screen and (max-width: 700px) {
nav .navbar-brand{
    margin-left:0 ;
}
nav .navbar-nav{
    margin-right: 0;
}
.dropdown-toggle::after { 
    content: "" !important;

} 
.navbar-brand img{
    width: 150px;
}
}

@media only screen and (max-width: 1000px){
    .dropdown-toggle::after { 
        content: "" !important;
    
    } 
}