/* *************************************************
******************* home & navbar ***************
************************************************* */



.home-img-container {
   
    background: url('imges/banner-with-overlay.jpg') no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    width: auto;
    position: relative;
}

.home-content{
    position: absolute;
    display: inline-block;
    top: 140px;
    color: #ffffff;
    font-family: "Open Sans";
    

}

.home-content h3{
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
}

.home-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top:15px ;
}

.home-btn{
    margin-top:10px ;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
    font-weight:600 ;
    font-size: 18px;
    line-height: 22px;
    font-family: "Open Sans";
    
}

nav{
    position: fixed ;
}

.navbar{
    background: transparent !important;

}
.nav-link,
.navbar-brand{
    color: #ffffff !important;
    line-height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;

}

.nav-link{
    margin: 10px;
}

.navbar-brand{
     margin-left: 150px; 
}
.navbar-nav{
    margin-right:150px ;
}

.nav-login{
    border: solid 1px white;
    background: #ffffff;
    color: #6255a5 !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
    width: 89px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 5px;
}

.white-nav{
    background: #ffffff !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}
.white-nav-link
{
    color:black !important;
    
} 

.white-nav-login{
    color: #ffffff !important;
    background: #6255a5 ;
    padding: 5px !important;
}
.home-btn:hover{
    color: #ffffff;
}

/* *************************************************
******************* about us ***********************
************************************************* */

#about{
    margin: 60px 0;
}

.about-heading h3{
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    color: #6255a5;
}

.about-content p{
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;   
}

/* *************************************************
******************* Working ************************
************************************************* */

#work{
    margin-bottom: 60px ;
    background: whitesmoke;
    padding: 60px;
}

.work-heading h3 {
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    color: #6255a5;
    margin-bottom: 60px;
    line-height: 38px;
}



.work-1 h4,
.work-2 h4{
    margin-top:30px ;
    color: #6255a5;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 28px;
    font-size: 24px;
    margin-bottom:20px ;
}


.work-1 p,
.work-2 p{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
 .work-btn{
     font-family: "Open Sans";
     width: 172px;
     height: 35px;
     font-weight: 600;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     font-style: bold ;
     font-size: 18px;
     color: #ffffff;

}
.work-2 h4{
    margin-top: 40px;
}



/* *************************************************
******************* testimonal *********************
************************************************* */

.test-heading{
    margin-bottom:60px ;
}

.test-heading h3{
    font-family: "Open Sans";
    font-size:34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.testimonial{
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
    padding-bottom:10px ;
    margin-bottom: 60px;
    margin-right:30px ;

}

.test-img{
    margin-bottom:30px ;
    margin-top:30px ;
}

.test-des{
    margin-top: 50px;
    
}
.test-des h5{
    color: #6255a5;
    font-weight: 600;
    font-family: "Open Sans";

}

.test-para{
    margin-right:10px ;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    color: #333333;
}

/* *************************************************
*******************footer **************************
************************************************* */


.twitter{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-right:8px ;
    padding-left:8px ;
    border-radius:50% ;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    
}
.facebook{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:12px ;
    padding-right:12px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
  
}
.linkedin{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
   
}
.footer-icon a img{
    height: 13px;
    width: auto;
}


footer p{
    font-size: 12px;
    font-family: "Open Sans";
}

@media only screen and (max-width: 600px){
    .home-content h3{
        font-size: 24px;
    }
    .home-content p{
        font-size: 18px;
    }
    .work-2{
        margin-top:20px ;
    }
    .navbar-collapse{
        background: #ffffff;
       
    }
    .list-link{
        color: #333333 !important;
    }
    .nav-login{
        color: #ffffff !important;
        background: #6255a5 ;
        padding: 5px !important;
    }
    nav .navbar-brand{
        margin-left:0 ;
    }
    nav .navbar-nav{
        margin-right: 0;
    }
    .dropdown-toggle::after { 
        content: "" !important;
    
    } 
    .navbar-brand img{
        width: 150px;
    }


}