#header{
    margin-bottom:150px ;
}


.book_details h3{
    color: #6255a5;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 600;
}

.book_details_des {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.book_details button{
    color: #ffffff !important;
    background: #6255a5 !important;
}
#book h5{
    color: #6255a5;
    margin-bottom: 8px;
}

.right_details span{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #FFA500;
    margin-bottom:15px ;
}

.right_details{
    color: #6255a5;
}
.right_details,
.left_details{
    margin-bottom: 9px;
}

small{
    color: red;
}

/* *************************************************
******************* Preview ************************
************************************************* */

.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
  }
 .set-margin-cicis-menu-to-go {
   margin: 20px;
 }
 .set-padding-cicis-menu-to-go {
   padding: 20px;
 }
 .set-border-cicis-menu-to-go {
    /* border: 5px inset #4f4f4f; */
 }
 set-box-shadow-cicis-menu-to-go {
   -webkit-box-shadow: 4px 4px 14px #4f4f4f;
      -moz-box-shadow: 4px 4px 14px #4f4f4f;
           box-shadow: 4px 4px 14px #4f4f4f;
 }
   
 /*
 ** Style the iframe
 ** =========================
 */
 /*
     css commmon to all iframes
 */
 .responsive-wrapper {
   position: relative;
   height: 0;    /* gets height from padding-bottom */
   overflow: hidden;
   /* put following styles (necessary for overflow and 
      scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
     -webkit-overflow-scrolling: touch; 
                       overflow: auto; */
 }
 .responsive-wrapper img,
 .responsive-wrapper object,
 .responsive-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
    
   border-style: none;
   padding: 0;
   margin: 0;
 }
 
 /*
     css particular to this iframe
 */
 
 #Iframe-Cicis-Menu-To-Go {
   max-width: 666.67px;
   max-height: 600px;
   overflow: hidden;
 }
 /*
    padding-bottom = h/w as %
 */
 .responsive-wrapper-padding-bottom-90pct {
   padding-bottom: 90%;
 }




 .profile-pic{
     height: 50px;
 }

 .review_box{
     border: solid 1px #C8C8C8;
    padding: 15px;
     height: 375px;
     margin-top:38px ;
 }

 .review{
     font-size: 14px;
     font-weight: 400;
     font-family: "Open Sans";
     color: #333333 !important;
 }

 .review_box span{
     color: #FFA500;
 }

 #preview h3{
     color: #6255a5;
     font-size: 24px;
     font-weight: 600;
     font-family: "Open Sans";

 }
 .modal-title{
     color: #6255a5;
    font-size: 24px;
    padding-left:100px ;
    font-family: "Open Sans";
 }

 .modal-title i{
     font-size: 34px;
 }
.modal-body p span{
    font-weight: 700;
    
}
.modal-body{
    font-family: "Open Sans";
}
.star img{
    height: 20px;
}
.star-review img{
    height: 14px;
}
@media only screen and (max-width: 700px) {
    .book_details{
        margin-left:0px ;
    }
   
  }