.dropbtn_1 {
    background: none !important;

    
  
    border: none !important;
    cursor: pointer;
  }
  
  .dropdown_1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content_1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    font-size: 12px;
  }
  
  .dropdown-content_1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  .dropdown-content_1 button{
    font-size: 12px;
  }
  

  .dropdown-content_1 a:hover {background-color: #f1f1f1}
  
  .dropdown_1:hover .dropdown-content_1 {
    display: block;
  }
  
  
  .star-rating {
    line-height:32px;
    font-size:1.25em;
   
  }


  .star-rating .fa-star{
      color: orange;
      
    }
    .star-rating span{
        font-size: 28px;
    }

.modal-title{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}
.modal-footer button{
    color: #ffffff;
    background: #6255a5;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
}

.modal-footer button:hover{
    color: #ffffff;
}
.modal-footer{
    display: flex;
    justify-content: flex-start;
}
.modal-body,
.modal-footer,
.modal-header{
    border: none !important;
}