.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#filter{
    margin: 60px 0;
}

#filter h4{
    font-family: "Open Sans";
    font-size: 24px ;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-bottom:20px ;
}

.filter-content{
    background: whitesmoke;
    padding:30px 3px
}

.filter-content option{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}

#filter-books{
    margin-bottom:60px ;
}

/* *************************************************
*******************book list************************
************************************************* */

.book{
    border: 1px solid #d1d1d1; 
    margin-bottom:30px ;
    
    
}

.book-img{
    height: 253px;
}
.book-des{
    height: 300px;
}
ul{
    list-style-type: none;
}

li h5{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
    margin-bottom:30px ;
}
.book-details{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#333333 ;
    margin-bottom:15px ;
}
.book-details img{
    margin-right:5px ;
}

.book-review img{
   height: 20px;
}
.report span{
    color: red;
}

.pagination {
    display: inline-block;
  }
  
 .pagination a{
    color: black;

    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

#filter-books h3{
    color: #6255a5;
    margin-bottom: 30px;
}


 .actives {
    color: #ffffff !important;
    background: #6255a5 !important;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
}