.img-container {
   
    background: url('imges/banner-with-overlay-user.jpg') no-repeat;
    background-size: auto;
    height: auto;
    background-position: center;
    width: auto;
    position: relative;
}



.nav-link{
    margin: 10px;
    color:black !important;
    line-height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;

}

.navbar-brand{
     margin-left: 150px; 
     

}
.navbar-nav{
    margin-right:150px ;
}

nav{
    background: #ffffff !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}

.nav-login{
    border: solid 1px white;
    background: #6255a5;
    color: #ffffff !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
   
    width: 89px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 5px;
}

.nav-link img{
    height: 40px;
}

.nav-link-img{
    margin: 4px !important;
}

.user-heading{
    margin-top: 200px;
    margin-bottom:100px ;
}
.user-heading h3{
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    font-family: "Open Sans";

}
.active-link{
    color: #6255a5 !important;
    border-bottom:3px solid #6255a5 ;
}



/* *************************************************
*******************form **************************
************************************************* */
.form-btn{
    color: #ffffff;
    background: #6255a5;
    font-family: "Open Sans";
    margin-top:10px ;
}

form h3{
    color: #6255a5;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    font-family: "Open Sans";
    margin-top:15px;
    margin-bottom: 15px;


}



/* *************************************************
*******************footer **************************
************************************************* */

.twitter{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-right:8px ;
    padding-left:8px ;
    border-radius:50% ;
   
    
}
.facebook{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:12px ;
    padding-right:12px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
   
}
.linkedin{
    background: #6255a5;
    padding-top:2px ;
    padding-bottom: 8px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    
}
.footer-icon a img{
    height: 13px;
    width: auto;
}


footer p{
    font-size: 12px;
    font-family: "Open Sans";
}


/* ***************************************************
**************upload img***************************
*************************************************** */

.drop-zone {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 1px solid #d1d1d1;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
   
 }
   
   .drop-zone--over {
     border-style: solid;
   }
   
   .drop-zone__input {
     display: none;
   }
   
   .drop-zone__thumb {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     overflow: hidden;
     background-color: #cccccc;
     background-size: cover;
     position: relative;
   }
   
   .drop-zone__thumb::after {
     content: attr(data-label);
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     padding: 5px 0;
     color: #ffffff;
     background: rgba(0, 0, 0, 0.75);
     font-size: 14px;
     text-align: center;
   }

   
   
 