
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/login.css" rel="stylesheet" />

    <title>Change Password</title>

</head>

<body>
    <div class="main">
        <div class="text-center img-conatainer">
            <img src="~/Content/imges/top-logo.png" alt="logo" />

        </div>

        <div class="form-div">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-box" method="post">
                            @using (Html.BeginForm())

                            {


                            <div class="from-row">
                                <div class="form-group col-md-12 text-center">
                                    <h4 class="title">Forget Password  ?</h4>
                                    <p class="content-p">Enter your email to reset your password</p>
                                    <p class="text-success"> @ViewBag.Message</p>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <div class="password-flex"><label for="Email">Email</label></div>
                                    @Html.TextBox("Email", "", new { @class = "form-control", @placeholder = "Enter your Email" })

                                </div>


                                <div class="form-group col-md-12 text-center">
                                    <button type="submit" class="btn btn-custom">Submit</button>
                                </div>

                            </div>
                            }
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    @*<script src="~/Scripts/main.js"></script>*@
</body>

</html>
